:root {
  --dsh-clr1:#332e55;
  --dsh-clr2:#ffa436;
  --dsh-clr3:#898989;
  --dsh-clr4:#f4f4f4;
  --dsh-clr5:#3c3c3c;
  --dsh-clr7:#fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}
